div {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;
    border: 1px solid black;
    margin: 30px;
    padding: 40px;
    position: absolute;
}

h1 {
    font-weight: bold;
    color: black;
    text-align: center;
    margin: auto;
}